[submodule "module/buildroot"]
	path = module/buildroot
	url = https://github.com/liamkit/buildroot.git
[submodule "module/linux"]
	path = module/linux
	url = https://github.com/liamkit/linux-stable.git
[submodule "module/u-boot"]
	path = module/u-boot
	url = https://github.com/liamkit/u-boot.git
[submodule "module/opkg"]
	path = module/opkg
	url = https://github.com/liamkit/opkg
[submodule "module/opkg-utils"]
	path = module/opkg-utils
	url = https://github.com/liamkit/opkg-utils
